InsuranceGraphInsert-version-2.json
{"snapshotMetadata":{"bucketIdentifier":null,"flowIdentifier":"cae1cdf0-2d08-4005-8e18-3e73cc8ebbf9","version":0,"timestamp":1760718827889,"author":null,"comments":null,"link":null},"flowContents":{"identifier":"b8affaaa-100c-45f1-8639-6263317587d5","instanceIdentifier":null,"name":"InsuranceGraphInsertv2","comments":"graph = GraphFactory.open('conf/read-hbase.properties')\ng = graph.traversal()\n:remote connect tinkerpop.server conf/remote.yaml\n:remote console\n\n g.V().count()\n g.V().drop()\n g.E().drop()","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"c888282f-a748-4e85-9740-2c8c4416f57c","instanceIdentifier":null,"name":"EvaluateJsonPath","comments":"","position":{"x":72.3146736977244,"y":-565.2217190638492},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"fam_id":"$.fam_id","Destination":"flowfile-attribute","firstname":"$.firstname","adult_Y_N":"$.adult_Y_N","Max String Length":"20 MB","Return Type":"auto-detect","sex":"$.sex","Null Value Representation":"empty string","age":"$.age","fam_label":"$.fam_label","Path Not Found Behavior":"ignore","lastname":"$.lastname"},"propertyDescriptors":{"fam_id":{"name":"fam_id","displayName":"fam_id","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"firstname":{"name":"firstname","displayName":"firstname","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"adult_Y_N":{"name":"adult_Y_N","displayName":"adult_Y_N","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"sex":{"name":"sex","displayName":"sex","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"age":{"name":"age","displayName":"age","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"fam_label":{"name":"fam_label","displayName":"fam_label","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"lastname":{"name":"lastname","displayName":"lastname","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"fc3cbfd1-27ff-40df-b868-0f6ee56379b3","instanceIdentifier":null,"name":"EvaluateSummary","comments":"","position":{"x":711.3975289223338,"y":-1278.1622708216617},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","edge_count":"$.summary.edge_count","node_count":"$.summary.node_count","fam_label":"$.summary.fam_label","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"edge_count":{"name":"edge_count","displayName":"edge_count","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"node_count":{"name":"node_count","displayName":"node_count","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"fam_label":{"name":"fam_label","displayName":"fam_label","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"897b1594-dbbd-4fb8-8b1b-d5ee8edff6bb","instanceIdentifier":null,"name":"EvaluateJsonPath","comments":"","position":{"x":-309.27283545754904,"y":-562.4754116908023},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"fam_id":"$.fam_id","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","fam_label":"$.fam_label","Path Not Found Behavior":"ignore","lastname":"$.lastname"},"propertyDescriptors":{"fam_id":{"name":"fam_id","displayName":"fam_id","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"fam_label":{"name":"fam_label","displayName":"fam_label","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"lastname":{"name":"lastname","displayName":"lastname","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"be17827d-7762-4f68-afac-012a24558eaf","instanceIdentifier":null,"name":"DoRelationships","comments":"","position":{"x":1217.4054519703454,"y":-905.7224736418185},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.relationships.records"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"b24fe2fd-d9d7-41ff-8e06-54927bd8294d","instanceIdentifier":null,"name":"UpsertPolicies","comments":"g.V().has('family', 'famlabel', '${lastname}_${fam_id}').fold().coalesce(unfold(),addV('family').property('famlabel', '${lastname}_${fam_id}').property('fam_id','${fam_id}').property('lastname','${lastname}'))","position":{"x":457.55599408697003,"y":-218.2626136730953},"type":"org.apache.nifi.processors.graph.ExecuteGraphQuery","bundle":{"group":"org.apache.nifi","artifact":"nifi-graph-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"graph-query":"g.V().has('policy', 'v_id', '${policy_name}').fold().coalesce(unfold(),addV('policy')\n.property('v_id', '${policy_name}')\n.property('policy_name', '${policy_name}')\n.property('type','${type}')\n.property('lastname','${lastname}')).iterate()","graph-client-service":"2486eda6-b280-42da-ba0d-d32b71ccc746"},"propertyDescriptors":{"graph-query":{"name":"graph-query","displayName":"Graph Query","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"graph-client-service":{"name":"graph-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"749a2a26-19d3-45c8-8030-b9853b769d6e","instanceIdentifier":null,"name":"EvaluatePolicies","comments":"","position":{"x":449.05969933249,"y":-563.2671292200992},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"fam_id":"$.fam_id","Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","policy_name":"$.policy_name","last_name":"$.last_name","Null Value Representation":"empty string","type":"$.type","fam_label":"$.fam_label","Path Not Found Behavior":"ignore","lastname":"$.lastname"},"propertyDescriptors":{"fam_id":{"name":"fam_id","displayName":"fam_id","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"policy_name":{"name":"policy_name","displayName":"policy_name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"last_name":{"name":"last_name","displayName":"last_name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"type":{"name":"type","displayName":"type","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"fam_label":{"name":"fam_label","displayName":"fam_label","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"lastname":{"name":"lastname","displayName":"lastname","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"ee92a99e-3b33-4eba-8331-4e1d5a1290cc","instanceIdentifier":null,"name":"Wait","comments":"","position":{"x":1324.7297750929988,"y":-1270.1069826292544},"type":"org.apache.nifi.processors.standard.Wait","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"wait-buffer-count":"3","wait-mode":"keep","attribute-copy-mode":"keeporiginal","distributed-cache-service":"b5aea12c-3444-49bb-9bb6-31883345e094","releasable-flowfile-count":"0","release-signal-id":"${fam_label}","expiration-duration":"30 min","target-signal-count":"${node_count}"},"propertyDescriptors":{"wait-buffer-count":{"name":"wait-buffer-count","displayName":"Wait Buffer Count","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"wait-mode":{"name":"wait-mode","displayName":"Wait Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"attribute-copy-mode":{"name":"attribute-copy-mode","displayName":"Attribute Copy Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"releasable-flowfile-count":{"name":"releasable-flowfile-count","displayName":"Releasable FlowFile Count","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"expiration-duration":{"name":"expiration-duration","displayName":"Expiration Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"target-signal-count":{"name":"target-signal-count","displayName":"Target Signal Count","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"wait-penalty-duration":{"name":"wait-penalty-duration","displayName":"Wait Penalty Duration","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["wait"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"704e6326-3202-40d8-b310-1b071552879c","instanceIdentifier":null,"name":"DoPolicies","comments":"","position":{"x":457.43181915784544,"y":-909.359802743381},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.policies.records"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"ad7214da-e003-4ed6-a788-6f79314c41fd","instanceIdentifier":null,"name":"UpsertFamilies","comments":"g.V().has('family', 'famlabel', '${lastname}_${fam_id}').fold().coalesce(unfold(),addV('family').property('famlabel', '${lastname}_${fam_id}').property('fam_id','${fam_id}').property('lastname','${lastname}'))","position":{"x":-320.23177141595966,"y":-222.80602874267538},"type":"org.apache.nifi.processors.graph.ExecuteGraphQuery","bundle":{"group":"org.apache.nifi","artifact":"nifi-graph-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"graph-query":"g.V().has('family', 'v_id', '${lastname}_${fam_id}').fold().coalesce(unfold(),addV('family')\n.property('v_id', '${lastname}_${fam_id}')\n.property('fnum','${fam_id}')\n.property('lastname','${lastname}')).iterate()","graph-client-service":"2486eda6-b280-42da-ba0d-d32b71ccc746"},"propertyDescriptors":{"graph-query":{"name":"graph-query","displayName":"Graph Query","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"graph-client-service":{"name":"graph-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"8f58a12d-0f3b-469b-91a4-f616a2d05364","instanceIdentifier":null,"name":"DoClaims","comments":"","position":{"x":844.4093582203454,"y":-907.4968877043185},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.claims.records"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"1d3c4e41-ed06-45af-8922-2801c1bfce08","instanceIdentifier":null,"name":"UpsertMembers","comments":"g.V().has('family', 'famlabel', '${lastname}_${fam_id}').fold().coalesce(unfold(),addV('family').property('famlabel', '${lastname}_${fam_id}').property('fam_id','${fam_id}').property('lastname','${lastname}'))","position":{"x":76.89948468755597,"y":-225.1175178479},"type":"org.apache.nifi.processors.graph.ExecuteGraphQuery","bundle":{"group":"org.apache.nifi","artifact":"nifi-graph-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"graph-query":"g.V().has('member', 'v_id', '${firstname}_${lastname}_${age}_${fam_id}').fold().coalesce(unfold(),addV('member')\n.property('v_id', '${firstname}_${lastname}_${age}_${fam_id}')\n.property('fnum','${fam_id}')\n.property('lastname','${lastname}')\n.property('firstname','${firstname}')\n.property('adult_Y_N','${adult_Y_N}')\n.property('sex','${sex}')\n.property('age','${age}')).iterate()","graph-client-service":"2486eda6-b280-42da-ba0d-d32b71ccc746"},"propertyDescriptors":{"graph-query":{"name":"graph-query","displayName":"Graph Query","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"graph-client-service":{"name":"graph-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"7965aa6d-8c4b-4186-8560-8b0c1b4f06ef","instanceIdentifier":null,"name":"EvaluateSummary","comments":"","position":{"x":987.085334098115,"y":-1516.9098294154117},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","edge_count":"$.summary.edge_count","node_count":"$.summary.node_count","fam_label":"$.summary.fam_label","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"edge_count":{"name":"edge_count","displayName":"edge_count","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"node_count":{"name":"node_count","displayName":"node_count","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"fam_label":{"name":"fam_label","displayName":"fam_label","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","matched","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"a8034bce-8ea5-4f4c-ac12-ad0fa80b360f","instanceIdentifier":null,"name":"RouteOnAttribute","comments":"","position":{"x":-38.5450879465335,"y":-1276.0935191316398},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"summary":"${summary:notNull()}","Routing Strategy":"Route to Property name","v1":"${v1:notNull()}","v2":"${v2:notNull()}","e1":"${e1:notNull()}","v3":"${v3:notNull()}","v4":"${v4:notNull()}"},"propertyDescriptors":{"summary":{"name":"summary","displayName":"summary","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"v1":{"name":"v1","displayName":"v1","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"v2":{"name":"v2","displayName":"v2","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"e1":{"name":"e1","displayName":"e1","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"v3":{"name":"v3","displayName":"v3","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"v4":{"name":"v4","displayName":"v4","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["e1"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"f1f79b14-47c5-4dc0-a128-adaf13585e85","instanceIdentifier":null,"name":"EvaluateClaims","comments":"","position":{"x":831.7536080238963,"y":-563.2213833704898},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","claim_amount":"$.claim_amount","Return Type":"auto-detect","claim_id":"$.claim_id","policy_name":"$.policy_name","Null Value Representation":"empty string","claim_date":"$.claim_date","fam_label":"$.fam_label","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"claim_amount":{"name":"claim_amount","displayName":"claim_amount","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"claim_id":{"name":"claim_id","displayName":"claim_id","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"policy_name":{"name":"policy_name","displayName":"policy_name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"claim_date":{"name":"claim_date","displayName":"claim_date","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"fam_label":{"name":"fam_label","displayName":"fam_label","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"b23e700d-b409-4909-98a1-d07dd5325127","instanceIdentifier":null,"name":"UpsertClaims","comments":"g.V().has('family', 'famlabel', '${lastname}_${fam_id}').fold().coalesce(unfold(),addV('family').property('famlabel', '${lastname}_${fam_id}').property('fam_id','${fam_id}').property('lastname','${lastname}'))","position":{"x":825.91585736822,"y":-207.26196517456015},"type":"org.apache.nifi.processors.graph.ExecuteGraphQuery","bundle":{"group":"org.apache.nifi","artifact":"nifi-graph-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"graph-query":"g.V().has('claim', 'v_id', '${policy_name}_${claim_id}').fold().coalesce(unfold(),addV('claim')\n.property('v_id', '${policy_name}_${claim_id}')\n.property('cnum','${claim_id}')\n.property('policy_name','${policy_name}')\n.property('claim_amount','${claim_amount}')\n.property('claim_date','${claim_date}')).iterate()","graph-client-service":"2486eda6-b280-42da-ba0d-d32b71ccc746"},"propertyDescriptors":{"graph-query":{"name":"graph-query","displayName":"Graph Query","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"graph-client-service":{"name":"graph-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"35cdf9ce-dbf5-43ff-9516-1a9f0cdd0891","instanceIdentifier":null,"name":"DoFamilies","comments":"","position":{"x":-301.3599441478186,"y":-911.846375009006},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.family.records"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"fd6c5610-90e5-4c7a-8cdf-49bf908da4e6","instanceIdentifier":null,"name":"Notify","comments":"","position":{"x":1849.0585743072154,"y":592.9704120246247},"type":"org.apache.nifi.processors.standard.Notify","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"signal-buffer-count":"1","release-signal-id":"${fam_label}","signal-counter-name":"default","signal-counter-delta":"1","distributed-cache-service":"b5aea12c-3444-49bb-9bb6-31883345e094"},"propertyDescriptors":{"signal-buffer-count":{"name":"signal-buffer-count","displayName":"Signal Buffer Count","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"release-signal-id":{"name":"release-signal-id","displayName":"Release Signal Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"signal-counter-name":{"name":"signal-counter-name","displayName":"Signal Counter Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"signal-counter-delta":{"name":"signal-counter-delta","displayName":"Signal Counter Delta","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"attribute-cache-regex":{"name":"attribute-cache-regex","displayName":"Attribute Cache Regex","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"distributed-cache-service":{"name":"distributed-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"a9b6243e-2c0f-4a6a-9f04-58018053ac1f","instanceIdentifier":null,"name":"CreateFamilyGraphFlowFile","comments":"","position":{"x":-89.70785491247125,"y":-1838.026499909515},"type":"CreateFamilyGraphFlowFile","bundle":{"group":"org.apache.nifi","artifact":"python-extensions","version":"0.0.1-SNAPSHOT"},"properties":{},"propertyDescriptors":{},"style":{},"annotationData":null,"schedulingPeriod":"15 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"339a1bae-b5b5-4d5c-a07e-61f70d331d68","instanceIdentifier":null,"name":"UpsertRelationships","comments":" g.V().has('${v1type}','vlabel','${vertex1}').addE('${relationship_name}').to(g.V().has('${v2type}','vlabel','${vertex2}')).iterate()","position":{"x":1234.6629887158763,"y":-200.86054076660116},"type":"org.apache.nifi.processors.graph.ExecuteGraphQuery","bundle":{"group":"org.apache.nifi","artifact":"nifi-graph-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"graph-query":"def tempV = g.V().has('${v2type}','v_id','${vertex2}').next()\ng.V().has('${v1type}','v_id','${vertex1}').addE('${relationship_name}').to(tempV).iterate()","graph-client-service":"2486eda6-b280-42da-ba0d-d32b71ccc746"},"propertyDescriptors":{"graph-query":{"name":"graph-query","displayName":"Graph Query","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"graph-client-service":{"name":"graph-client-service","displayName":"Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"1fa5716d-f7a8-4195-b679-9b5726c4d3c4","instanceIdentifier":null,"name":"EvaluateRelationships","comments":"","position":{"x":1215.44397667624,"y":-559.4717190638492},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"relationship_name":"$.relationship_name","Destination":"flowfile-attribute","v1type":"$.v1type","v2type":"$.v2type","Max String Length":"20 MB","Return Type":"auto-detect","vertex1":"$.vertex1","Null Value Representation":"empty string","vertex2":"$.vertex2","fam_label":"$.fam_label","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"relationship_name":{"name":"relationship_name","displayName":"relationship_name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"v1type":{"name":"v1type","displayName":"v1type","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"v2type":{"name":"v2type","displayName":"v2type","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"vertex1":{"name":"vertex1","displayName":"vertex1","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"vertex2":{"name":"vertex2","displayName":"vertex2","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"fam_label":{"name":"fam_label","displayName":"fam_label","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"3202a865-9140-4b7e-946d-ac3a2d141f74","instanceIdentifier":null,"name":"DoMembers","comments":"","position":{"x":75.40545197034544,"y":-924.6770634855685},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.members.records"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"style":{},"annotationData":null,"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f9b7dc95-55ff-4d60-9a86-726ef1d48418","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"1d3c4e41-ed06-45af-8922-2801c1bfce08","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertMembers","comments":null,"instanceIdentifier":null},"destination":{"id":"3c533f8f-5912-470e-ba51-4932efa034c1","type":"FUNNEL","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"e491aedb-1ea8-43da-a0af-3d1767b97e0c","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"b24fe2fd-d9d7-41ff-8e06-54927bd8294d","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertPolicies","comments":null,"instanceIdentifier":null},"destination":{"id":"fd6c5610-90e5-4c7a-8cdf-49bf908da4e6","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Notify","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"40e7999d-6849-4116-8631-c56301382d9b","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"1fa5716d-f7a8-4195-b679-9b5726c4d3c4","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"EvaluateRelationships","comments":null,"instanceIdentifier":null},"destination":{"id":"339a1bae-b5b5-4d5c-a07e-61f70d331d68","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertRelationships","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"2ff6a5ca-6cf2-4147-a2ed-86e8161c2299","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"fd6c5610-90e5-4c7a-8cdf-49bf908da4e6","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Notify","comments":null,"instanceIdentifier":null},"destination":{"id":"62585c89-bdd3-4f9b-adef-2dbcd071635b","type":"FUNNEL","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"eefc86cb-736a-4ecc-b3c3-eb97e84def80","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"704e6326-3202-40d8-b310-1b071552879c","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"DoPolicies","comments":null,"instanceIdentifier":null},"destination":{"id":"749a2a26-19d3-45c8-8030-b9853b769d6e","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"EvaluatePolicies","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"2078d2bc-4eff-44e0-9c1d-7514bdb214e5","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"8f58a12d-0f3b-469b-91a4-f616a2d05364","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"DoClaims","comments":null,"instanceIdentifier":null},"destination":{"id":"f1f79b14-47c5-4dc0-a128-adaf13585e85","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"EvaluateClaims","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"b78ffc65-1775-48a3-ab16-154dae6b3f95","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"339a1bae-b5b5-4d5c-a07e-61f70d331d68","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertRelationships","comments":null,"instanceIdentifier":null},"destination":{"id":"3c533f8f-5912-470e-ba51-4932efa034c1","type":"FUNNEL","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"f7dffe20-4bf5-4a8e-a2cc-50e67cea92e1","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"a9b6243e-2c0f-4a6a-9f04-58018053ac1f","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"CreateFamilyGraphFlowFile","comments":null,"instanceIdentifier":null},"destination":{"id":"a8034bce-8ea5-4f4c-ac12-ad0fa80b360f","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"RouteOnAttribute","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"6906e9ba-9dd4-4ce7-b7c1-761e61347d1b","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"ee92a99e-3b33-4eba-8331-4e1d5a1290cc","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Wait","comments":null,"instanceIdentifier":null},"destination":{"id":"be17827d-7762-4f68-afac-012a24558eaf","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"DoRelationships","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"c00e4b93-031b-47a4-b5f4-47bf32c96a0c","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"339a1bae-b5b5-4d5c-a07e-61f70d331d68","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertRelationships","comments":null,"instanceIdentifier":null},"destination":{"id":"fb2dc2ed-3b4b-4428-a209-6bfc89abdbf8","type":"FUNNEL","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":2,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"76b3a97d-f8b6-4a83-b976-183bcb548425","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"f1f79b14-47c5-4dc0-a128-adaf13585e85","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"EvaluateClaims","comments":null,"instanceIdentifier":null},"destination":{"id":"b23e700d-b409-4909-98a1-d07dd5325127","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertClaims","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"2bb57974-2045-4c6d-9f60-ab916760e638","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"ee92a99e-3b33-4eba-8331-4e1d5a1290cc","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Wait","comments":null,"instanceIdentifier":null},"destination":{"id":"220a4ac4-377c-4390-90e6-845a31290631","type":"FUNNEL","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["expired"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"bf949653-bf26-4bbf-880c-fcbef5666426","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"a9b6243e-2c0f-4a6a-9f04-58018053ac1f","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"CreateFamilyGraphFlowFile","comments":null,"instanceIdentifier":null},"destination":{"id":"bc158886-cfbf-45b7-b34d-8f9b63fd0021","type":"FUNNEL","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"4e089fff-cf1b-47f5-a126-96fc47719170","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"a8034bce-8ea5-4f4c-ac12-ad0fa80b360f","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"RouteOnAttribute","comments":null,"instanceIdentifier":null},"destination":{"id":"fc3cbfd1-27ff-40df-b868-0f6ee56379b3","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"EvaluateSummary","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["summary"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"ff029615-3efb-42bf-870c-1ba86bdf1b12","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"b24fe2fd-d9d7-41ff-8e06-54927bd8294d","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertPolicies","comments":null,"instanceIdentifier":null},"destination":{"id":"3c533f8f-5912-470e-ba51-4932efa034c1","type":"FUNNEL","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"8a14cbbf-4976-426c-906a-c6098eece1e5","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"35cdf9ce-dbf5-43ff-9516-1a9f0cdd0891","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"DoFamilies","comments":null,"instanceIdentifier":null},"destination":{"id":"897b1594-dbbd-4fb8-8b1b-d5ee8edff6bb","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"EvaluateJsonPath","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"7fc88c0f-070f-4902-9cfa-1709e6b9c4a9","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"ee92a99e-3b33-4eba-8331-4e1d5a1290cc","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Wait","comments":null,"instanceIdentifier":null},"destination":{"id":"cafedcfb-21d6-4af5-9306-0c3c92e4ba30","type":"FUNNEL","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"5a190334-0bf9-46f1-a3d0-b0fa812b4a1e","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"1d3c4e41-ed06-45af-8922-2801c1bfce08","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertMembers","comments":null,"instanceIdentifier":null},"destination":{"id":"fd6c5610-90e5-4c7a-8cdf-49bf908da4e6","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Notify","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"fd2cfd90-420a-4265-8b2d-bf34f1f7a5ed","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"b23e700d-b409-4909-98a1-d07dd5325127","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertClaims","comments":null,"instanceIdentifier":null},"destination":{"id":"3c533f8f-5912-470e-ba51-4932efa034c1","type":"FUNNEL","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"3c79b875-d486-4c31-a18f-32ffbd54d6d5","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"a8034bce-8ea5-4f4c-ac12-ad0fa80b360f","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"RouteOnAttribute","comments":null,"instanceIdentifier":null},"destination":{"id":"88671d62-fd31-4e2b-8a5d-f86c595dbf35","type":"FUNNEL","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"7958e986-d342-433d-8822-cc859e16e849","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"ad7214da-e003-4ed6-a788-6f79314c41fd","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertFamilies","comments":null,"instanceIdentifier":null},"destination":{"id":"fb2dc2ed-3b4b-4428-a209-6bfc89abdbf8","type":"FUNNEL","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"05af7c48-a7f7-4ac0-ba8d-04ef56a15911","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"a8034bce-8ea5-4f4c-ac12-ad0fa80b360f","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"RouteOnAttribute","comments":null,"instanceIdentifier":null},"destination":{"id":"3202a865-9140-4b7e-946d-ac3a2d141f74","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"DoMembers","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["v2"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"f866f746-f4f1-4f32-811a-7e510705aa1f","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"b23e700d-b409-4909-98a1-d07dd5325127","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertClaims","comments":null,"instanceIdentifier":null},"destination":{"id":"fb2dc2ed-3b4b-4428-a209-6bfc89abdbf8","type":"FUNNEL","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"0ee6a8ee-94bc-4167-8902-6743ea4559da","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"339a1bae-b5b5-4d5c-a07e-61f70d331d68","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertRelationships","comments":null,"instanceIdentifier":null},"destination":{"id":"3da84069-bb96-4d48-95c5-65d84ce379f0","type":"FUNNEL","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"81038148-dace-4d5e-b29f-d0f72a52871a","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"a8034bce-8ea5-4f4c-ac12-ad0fa80b360f","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"RouteOnAttribute","comments":null,"instanceIdentifier":null},"destination":{"id":"704e6326-3202-40d8-b310-1b071552879c","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"DoPolicies","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["v3"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"022d774d-1b02-4e15-baa3-92fada62935c","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"a8034bce-8ea5-4f4c-ac12-ad0fa80b360f","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"RouteOnAttribute","comments":null,"instanceIdentifier":null},"destination":{"id":"8f58a12d-0f3b-469b-91a4-f616a2d05364","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"DoClaims","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["v4"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"61ae8d05-bec6-4015-b1df-b7f6d17e0463","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"b24fe2fd-d9d7-41ff-8e06-54927bd8294d","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertPolicies","comments":null,"instanceIdentifier":null},"destination":{"id":"fb2dc2ed-3b4b-4428-a209-6bfc89abdbf8","type":"FUNNEL","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"62b7e952-a097-405f-a1f9-3b6d2427af02","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"fc3cbfd1-27ff-40df-b868-0f6ee56379b3","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"EvaluateSummary","comments":null,"instanceIdentifier":null},"destination":{"id":"ee92a99e-3b33-4eba-8331-4e1d5a1290cc","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Wait","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"40876ec2-3ee4-4734-adb5-3176bfb038b7","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"ad7214da-e003-4ed6-a788-6f79314c41fd","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertFamilies","comments":null,"instanceIdentifier":null},"destination":{"id":"3c533f8f-5912-470e-ba51-4932efa034c1","type":"FUNNEL","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"b352c1c9-7e5d-4453-9376-f9b928b3c38b","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"3202a865-9140-4b7e-946d-ac3a2d141f74","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"DoMembers","comments":null,"instanceIdentifier":null},"destination":{"id":"c888282f-a748-4e85-9740-2c8c4416f57c","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"EvaluateJsonPath","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"43f99af0-9ad0-4f88-ad92-3a52072bea2c","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"c888282f-a748-4e85-9740-2c8c4416f57c","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"EvaluateJsonPath","comments":null,"instanceIdentifier":null},"destination":{"id":"1d3c4e41-ed06-45af-8922-2801c1bfce08","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertMembers","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"f8913059-fc2a-49a0-8ab0-175df263327f","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"1d3c4e41-ed06-45af-8922-2801c1bfce08","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertMembers","comments":null,"instanceIdentifier":null},"destination":{"id":"fb2dc2ed-3b4b-4428-a209-6bfc89abdbf8","type":"FUNNEL","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"77aed002-fe89-48fc-8ecd-63de184fbf0c","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"b23e700d-b409-4909-98a1-d07dd5325127","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertClaims","comments":null,"instanceIdentifier":null},"destination":{"id":"fd6c5610-90e5-4c7a-8cdf-49bf908da4e6","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Notify","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"76836838-73f2-4983-b798-a0d38b7a763a","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"a8034bce-8ea5-4f4c-ac12-ad0fa80b360f","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"RouteOnAttribute","comments":null,"instanceIdentifier":null},"destination":{"id":"35cdf9ce-dbf5-43ff-9516-1a9f0cdd0891","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"DoFamilies","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["v1"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"ddfec6c6-3dd1-4ce7-90a1-ca32856bb549","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"897b1594-dbbd-4fb8-8b1b-d5ee8edff6bb","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"EvaluateJsonPath","comments":null,"instanceIdentifier":null},"destination":{"id":"ad7214da-e003-4ed6-a788-6f79314c41fd","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertFamilies","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"1213b809-bf65-4e8c-b08a-55274df8b68e","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"ad7214da-e003-4ed6-a788-6f79314c41fd","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertFamilies","comments":null,"instanceIdentifier":null},"destination":{"id":"fd6c5610-90e5-4c7a-8cdf-49bf908da4e6","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Notify","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"b21b1abe-ec07-4721-8990-81b60e82a763","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"fd6c5610-90e5-4c7a-8cdf-49bf908da4e6","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Notify","comments":null,"instanceIdentifier":null},"destination":{"id":"ee92a99e-3b33-4eba-8331-4e1d5a1290cc","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Wait","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"8ff989b2-e812-4d52-bd38-02008af12b2d","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"749a2a26-19d3-45c8-8030-b9853b769d6e","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"EvaluatePolicies","comments":null,"instanceIdentifier":null},"destination":{"id":"b24fe2fd-d9d7-41ff-8e06-54927bd8294d","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"UpsertPolicies","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"26197d73-5b23-4049-9227-07f1ed3a4c8a","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"be17827d-7762-4f68-afac-012a24558eaf","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"DoRelationships","comments":null,"instanceIdentifier":null},"destination":{"id":"1fa5716d-f7a8-4195-b679-9b5726c4d3c4","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"EvaluateRelationships","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"4f32eb1a-d74c-4623-80bb-cfb2efa5ac67","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"35cdf9ce-dbf5-43ff-9516-1a9f0cdd0891","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"DoFamilies","comments":null,"instanceIdentifier":null},"destination":{"id":"bc158886-cfbf-45b7-b34d-8f9b63fd0021","type":"FUNNEL","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["original","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"b702dec2-54b7-4da2-923e-00cd1b03bf2a","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"a9b6243e-2c0f-4a6a-9f04-58018053ac1f","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"CreateFamilyGraphFlowFile","comments":null,"instanceIdentifier":null},"destination":{"id":"88671d62-fd31-4e2b-8a5d-f86c595dbf35","type":"FUNNEL","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"Funnel","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"a533dd7c-ba37-4c37-ac42-f4dc943d27c8","instanceIdentifier":null,"name":"","comments":null,"position":null,"source":{"id":"a8034bce-8ea5-4f4c-ac12-ad0fa80b360f","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"RouteOnAttribute","comments":null,"instanceIdentifier":null},"destination":{"id":"7965aa6d-8c4b-4186-8560-8b0c1b4f06ef","type":"PROCESSOR","groupId":"b8affaaa-100c-45f1-8639-6263317587d5","name":"EvaluateSummary","comments":null,"instanceIdentifier":null},"labelIndex":1,"zIndex":0,"selectedRelationships":["summary"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 seconds","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":null,"loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"}],"labels":[],"funnels":[{"identifier":"62585c89-bdd3-4f9b-adef-2dbcd071635b","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":1179.382911857329,"y":711.7512383533217},"componentType":"FUNNEL","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"fb2dc2ed-3b4b-4428-a209-6bfc89abdbf8","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-79.98479844271287,"y":508.5082796210834},"componentType":"FUNNEL","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"88671d62-fd31-4e2b-8a5d-f86c595dbf35","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":552.8385316865651,"y":-1641.781464426957},"componentType":"FUNNEL","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"220a4ac4-377c-4390-90e6-845a31290631","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":1938.3221406419198,"y":-1183.9930013015337},"componentType":"FUNNEL","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"bc158886-cfbf-45b7-b34d-8f9b63fd0021","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":-564.4612497030462,"y":-1330.4314853980081},"componentType":"FUNNEL","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"cafedcfb-21d6-4af5-9306-0c3c92e4ba30","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":1709.9150132847244,"y":-1561.313630547875},"componentType":"FUNNEL","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"3c533f8f-5912-470e-ba51-4932efa034c1","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":617.9846597977241,"y":1133.6636703930167},"componentType":"FUNNEL","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"3da84069-bb96-4d48-95c5-65d84ce379f0","instanceIdentifier":null,"name":null,"comments":null,"position":{"x":1548.5245028624245,"y":259.4384353786663},"componentType":"FUNNEL","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"}],"controllerServices":[{"identifier":"779d860a-0416-48a3-a423-959a9a970c0e","instanceIdentifier":null,"name":"DistributedMapCacheLookupService","comments":null,"position":null,"type":"org.apache.nifi.lookup.DistributedMapCacheLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"character-encoding":"UTF-8","distributed-map-cache-service":"b5aea12c-3444-49bb-9bb6-31883345e094"},"propertyDescriptors":{"character-encoding":{"name":"character-encoding","displayName":"Character Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"distributed-map-cache-service":{"name":"distributed-map-cache-service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.StringLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0.4.3.3.0-40"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0.4.3.3.0-40"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"2486eda6-b280-42da-ba0d-d32b71ccc746","instanceIdentifier":null,"name":"TinkerpopClientService","comments":null,"position":null,"type":"org.apache.nifi.graph.TinkerpopClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-other-graph-services-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"Path":"/gremlin","Settings Specification":"service-settings","Remote Objects File":null,"Username":"jprosser","Port":"8182","Script Submission Type":"script-submission","Contact Points":"10.10.165.47","Password":"#{userpasswd}"},"propertyDescriptors":{"Path":{"name":"Path","displayName":"Path","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Settings Specification":{"name":"Settings Specification","displayName":"Settings Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Remote Objects File":{"name":"Remote Objects File","displayName":"Remote Objects File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Script Submission Type":{"name":"Script Submission Type","displayName":"Script Submission Type","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Extension Classes":{"name":"Extension Classes","displayName":"Extension Classes","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Traversal Source Name":{"name":"Traversal Source Name","displayName":"Traversal Source Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Contact Points":{"name":"Contact Points","displayName":"Contact Points","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Extension Libraries":{"name":"Extension Libraries","displayName":"Extension Libraries","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE","URL"]}},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.graph.GraphClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-graph-client-service-api-nar","version":"2.4.0.4.3.3.0-40"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"a46b4514-f952-4a18-8c72-d006685b5d03","instanceIdentifier":null,"name":"JsonPathReader","comments":null,"position":null,"type":"org.apache.nifi.json.JsonPathReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"schema-reference-reader":null,"Max String Length":"20 MB","schema-name":"${schema.name}","schema-access-strategy":"infer-schema","schema-text":"${avro.schema}","Allow Comments":"false","JsonPath Expression":"$.family.records"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Allow Comments":{"name":"Allow Comments","displayName":"Allow Comments","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0.4.3.3.0-40"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"9cb78718-db41-4fe7-88a3-f8c7e8581f24","instanceIdentifier":null,"name":"KerberosPasswordUserService","comments":null,"position":null,"type":"org.apache.nifi.kerberos.KerberosPasswordUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kerberos-user-service-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"Kerberos Principal":"jprosser@GO01-DEM.YLCU-ATMI.CLOUDERA.SITE","Kerberos Password":"#{userpasswd}"},"propertyDescriptors":{"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true,"dynamic":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.kerberos.KerberosUserService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0.4.3.3.0-40"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"b5aea12c-3444-49bb-9bb6-31883345e094","instanceIdentifier":null,"name":"MapCacheClientService","comments":null,"position":null,"type":"org.apache.nifi.distributed.cache.client.MapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"Communications Timeout":"30 secs","Server Port":"4557","Server Hostname":"localhost"},"propertyDescriptors":{"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0.4.3.3.0-40"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0.4.3.3.0-40"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"c4a3eb74-4baf-4d9d-b7e9-75d113f116f6","instanceIdentifier":null,"name":"MapCacheServer","comments":null,"position":null,"type":"org.apache.nifi.distributed.cache.server.map.MapCacheServer","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"Eviction Strategy":"Least Frequently Used","SSL Context Service":null,"Persistence Directory":null,"maximum-read-size":"1 MB","Port":"4557","Maximum Cache Entries":"10000"},"propertyDescriptors":{"Eviction Strategy":{"name":"Eviction Strategy","displayName":"Eviction Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Persistence Directory":{"name":"Persistence Directory","displayName":"Persistence Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"maximum-read-size":{"name":"maximum-read-size","displayName":"Maximum Read Size","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Maximum Cache Entries":{"name":"Maximum Cache Entries","displayName":"Maximum Cache Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"controllerServiceApis":[],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"854ada42-e00a-46b4-90c7-189c8323934c","instanceIdentifier":null,"name":"HBase_2_ClientMapCacheService","comments":null,"position":null,"type":"org.apache.nifi.hbase.HBase_2_ClientMapCacheService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase_2-client-service-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"hbase-cache-visibility-expression":"","HBase Cache Table Name":"JVPNiFiMapCache","HBase Client Service":"d8b3284f-f390-46fb-ad4e-376300d050d4","HBase Column Family":"f","HBase Column Qualifier":"q"},"propertyDescriptors":{"hbase-cache-visibility-expression":{"name":"hbase-cache-visibility-expression","displayName":"Visibility Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"HBase Cache Table Name":{"name":"HBase Cache Table Name","displayName":"HBase Cache Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"HBase Client Service":{"name":"HBase Client Service","displayName":"HBase Client Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"HBase Column Family":{"name":"HBase Column Family","displayName":"HBase Column Family","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"HBase Column Qualifier":{"name":"HBase Column Qualifier","displayName":"HBase Column Qualifier","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"hb-lu-authorizations":{"name":"hb-lu-authorizations","displayName":"Authorizations","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0.4.3.3.0-40"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0.4.3.3.0-40"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"d8b3284f-f390-46fb-ad4e-376300d050d4","instanceIdentifier":null,"name":"HBase_2_ClientService","comments":null,"position":null,"type":"org.apache.nifi.hbase.HBase_2_ClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase_2-client-service-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"ZooKeeper ZNode Parent":"/hbase","HBase Client Retries":"1","kerberos-user-service":"9cb78718-db41-4fe7-88a3-f8c7e8581f24","Hadoop Configuration Files":"#{CDPEnvironment}"},"propertyDescriptors":{"ZooKeeper Quorum":{"name":"ZooKeeper Quorum","displayName":"ZooKeeper Quorum","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"ZooKeeper Client Port":{"name":"ZooKeeper Client Port","displayName":"ZooKeeper Client Port","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"ZooKeeper ZNode Parent":{"name":"ZooKeeper ZNode Parent","displayName":"ZooKeeper ZNode Parent","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"HBase Client Retries":{"name":"HBase Client Retries","displayName":"HBase Client Retries","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Hadoop Configuration Files":{"name":"Hadoop Configuration Files","displayName":"Hadoop Configuration Files","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Phoenix Client JAR Location":{"name":"Phoenix Client JAR Location","displayName":"Phoenix Client JAR Location","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["DIRECTORY","FILE","URL"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.hbase.HBaseClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-hbase-client-service-api-nar","version":"2.4.0.4.3.3.0-40"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"},{"identifier":"63478b1b-a4bc-4c9f-bb2e-013a24132b60","instanceIdentifier":null,"name":"JsonRecordSetWriter","comments":null,"position":null,"type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0.4.3.3.0-40"},"properties":{"schema-reference-reader":null,"Allow Scientific Notation":"false","compression-level":"1","Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-access-strategy":"inherit-record-schema","schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":null},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false,"resourceDefinition":null}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0.4.3.3.0-40"}}],"annotationData":null,"scheduledState":"DISABLED","bulletinLevel":null,"componentType":"CONTROLLER_SERVICE","groupIdentifier":"b8affaaa-100c-45f1-8639-6263317587d5"}],"versionedFlowCoordinates":null,"parameterContextName":"InsuranceGraphInsertv2","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":null,"executionEngine":null,"maxConcurrentTasks":null,"statelessFlowTimeout":null,"logFileSuffix":null,"componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":null},"externalControllerServices":null,"parameterProviders":null,"parameterContexts":{"InsuranceGraphInsertv2":{"identifier":"4012b60d-0d2c-4f24-ae89-ec11bf640c42","instanceIdentifier":null,"name":"InsuranceGraphInsertv2","comments":null,"position":null,"parameters":[{"name":"CDPEnvironment","description":"The CDP Environment configuration resources","sensitive":false,"provided":false,"value":null,"referencedAssets":null},{"name":"userpasswd","description":null,"sensitive":true,"provided":false,"value":null,"referencedAssets":null}],"inheritedParameterContexts":[],"description":null,"parameterProvider":null,"parameterGroupName":null,"synchronized":null,"componentType":"PARAMETER_CONTEXT","groupIdentifier":null}},"flowEncodingVersion":null,"flow":null,"bucket":null}